.display_prize{
    width: 100%;
    height: 100%;
    display: none;
}

.prize_information_block {
    border: 1px dashed;
    height: 150px;
}

.prize_information_text {
    margin: auto;
}

.prize_information_text > h1,h2,h4,h5 {
    margin: 0px;
}
